name: Deploy to Render

on:
  push:
    branches:
      - main  # Hoặc master tùy branch của bạn

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy
        run: |
          curl -X GET ${{ secrets.RENDER_DEPLOY_HOOK }}